/*Header - Navbar*/

.zw-header {
	background-image: url(https://s3.us-east-2.amazonaws.com/zero-waste.lackofanatomy.com/media/af-line.svg);
	background-size: auto;
	background-position: center bottom;
	background-repeat: no-repeat;
}

.navbar {
	background: #fff;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.16);
}

.nav-link {
	font-family: Montserrat;
	font-size: calc(1em + .2vw);
	color: #2BB573;
	transition: all .5s;
}

.nav-left-border {
	border-left: solid 1px #2BB573;
}

.nav-link:hover {
	color: #20C896;
	border-radius: 5px;
	transform: translate(0px, -4px); 
}

.zw-logo {
	width: calc(100px + 2vw);
}

.fa-bars {
	color: #20C896;
}

.af-section {
	/*width: 1842px;
	height: 1308px;*/
	width: 1154.8333px;
	height: 820px;
	margin: auto;
	background-image: url( 	https://s3.us-east-2.amazonaws.com/zero-waste.lackofanatomy.com/media/af-video.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.af-video-container {
	/*width: 837px;
	height: 470px;*/
	width: 522.886651574px;
	height: 294.6533248284px;
	background-image: url( 	https://s3.us-east-2.amazonaws.com/zero-waste.lackofanatomy.com/media/zw-logo-green.svg);
	background-size: auto;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top: 32.33%;
	left: 27.42%;
	z-index: 1;
}

.af-video-container-2 {
	display: none;
}

.af-title {
  color: #2BB573;
  font-family: Montserrat;
  font-size: calc(1em + 3vw);
  font-weight: 700;
}

.af-title:before {
  content: "CETYS";
  display: block;
  font-size: calc(1rem + .1vw);
  font-weight: 400;
  margin-bottom: -20px;
}

.af-text {
  color: #BCBDBF;
  font-size: calc(.9em + .1vw);
  font-family: Montserrat;
}

.zw-title-container {
	margin-bottom: -8vw;
	position: relative;
	z-index: 2;
}

.zwda-title {
  color: #2BB573;
  font-family: Montserrat;
  font-size: 1em;
}

.fa-chevron-circle-down {
  color: #2BB573;
}

.zw-down-arrow {
	position: absolute;
    top: 85%;
    left: 45%;
}

/*Objetivos*/

.zw-objetivos {
	background-color: #35AF72;
}

.zwo-title {
	font-family: Montserrat;
	font-size: calc(1em + 3vw);
	color: #fff;
	font-weight: 700;
}

.zwo-text {
	font-family: Montserrat;
	font-size: calc(.5em + 1.2vw);
	color: #fff;
}

/*Experimental CSS Starts*/


.zw-image {
  max-height: 230px;
}

.post-body{
  text-align: center;
  background: #35AF72;
  width: 100%;
}

#flippy, .flippy2 {
    text-align: center;
}

.flippy button, 
.flippy2 button,
.flippy3 button,
.flippy4 button,
.flippy5 button,
.flippy6 button {
    background: #E2E2E2;
    color: #767676;
    text-align: center;
    border: none;
    border-radius: 18px;
    padding: 9px 21px;
    margin: 10px auto;
    font-size: 1em;
    vertical-align: middle;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
}


#flippanel,
#flippanel2,
#flippanel3 {
	text-align: center;
    display: none;
    position: relative;
    background: #fff;
    margin-top: calc(-320px - 7.5vw);
    padding: 50px 10px;
    border-radius: 15px;
}

.zwoc-title {
  font-family: Montserrat;
  color: #fff;
  font-weight: 700;
  font-size: calc(1em + 1vw);
  max-height: 33.2px;
}

/*Real Styles*/

.zwoc-text {
  color: #2BB573;
  font-size: calc(1em + .1vw);
  font-family: Montserrat;
  font-weight: 700;
}

.zwo-img-2 {
  height: 180px;
}


/*Experimental CSS Ends*/


.zwoc-dash {
  background: #E2E2E2;
  width: 100px;
  height: 12px;
  border-radius: 10px;
}

/*Counter CSS Starts*/

.zw-contador {
	background: url("https://s3.us-east-2.amazonaws.com/zero-waste.lackofanatomy.com/media/cubo.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.zw-contador-bd img {
	width: 100%;
}

.no-ppp {
	padding: 0;
}

.zwc-pline-b {
	margin-top: -170px;
	height: 1000px;
}

.zwc-pline-b2 {
	background: #35AF72;
	margin-top: -1px;
}

.zwc-pline-t {
	width: 100%;
	height: 200px;
	border-bottom-left-radius: 50% 50%;
	border-bottom-right-radius: 50% 50%;
}

.num_tiles {
  background-color: #9B9B9B;
  color: #ffffff;
  font-size: calc(1em + 4vw);
  padding:  calc(1px + .8vw);
  margin: 1px 5px;
  border-radius: 10px;
  font-family: Montserrat;
  font-weight: 400;
}

.container_inner::after {
	content: "Kg";
	color: #fff;
	font-family: Montserrat;
	font-size: calc(1em + 4vw);
	font-weight: 700;
}

.zwc-title {
	color: #fff;
	font-family: Montserrat;
	font-size: calc(1em + 3vw);
	font-weight: 700;
}

footer {
	background: #404040;
}

.logo-cetys-footer {
	max-width: 150px;
}

.footer-text {
	color: #fff;
	font-family:Montserrat;
	font-size: calc(1em + .75vw);
}

.zw-contact {
	background: #35AF72;
}

.contact-title {
	font-family: Montserrat;
	color: #fff;
	font-weight: 700;
	text-align: center;
	font-size: calc(1em + 3vw);
}

/*
.contact-three {
	background: url(../assets/images/ilustrracion-contactanos.svg);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: cover;
}
*/

.zw-contact-btn {
	background: #066D43;
	color: #fff;
	font-family: Montserrat;
	font-weight: 700;
	display: block;
	font-size: 2rem;
}

/*#35AF72*/

label.form-check-label {
	color: #fff !important;
	font-family: Montserrat !important;
	font-size: 1.3rem !important;
}

.three-image {
	margin-left: calc(-100px - 6vw);
}

/*Acciones*/

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background: #35AF72;
}

.zw-acciones {
    background-color: #35AF72;
}

.zw-acciones .nav-link {
	background: #17613e;
	text-align: center;
	color: #fff;
	font-size: calc(.5rem + .8vw);
	font-family: Montserrat;
}

.zwa-acciones {
	background-image: url(https://s3.us-east-2.amazonaws.com/zero-waste.lackofanatomy.com/media/flecha-acciones.svg);
	background-size: contain;
	background-position: bottom right;
	background-repeat: no-repeat;
}

.zwaa-title {
	font-size: calc(1em + 3.5vw);
	font-family: Arvo;
	color: #2bb573;
	font-weight: 700;
}

.zwaa-text {
	font-size: calc(1em + 1vw);
	font-family: Montserrat;
	color: #bcbdbf;
}

/*Separar Residuos*/

#zwas-info-card-pa,
#zwas-info-card-p,
#zwas-info-card-o,
#zwas-info-card-rs {
  display: none;
  position: relative;
  margin-top: calc(-100px - 16vw);
}

.zwas-btn-o,
.zwas-btn-pa,
.zwas-btn-rs,
.zwas-btn-p{
  box-shadow: none;
  border: none;
  border-radius: 30px;
  width: 100%;
  height: calc(100px + 16vw);
  box-shadow: 0px 5px 6px grey;
}

.zwas-btn-o {
  background: #066D43;
}

.zwas-btn-p {
  background: #FCCC1C;
}

.zwas-btn-rs {
background: #848685;
}

.zwas-btn-pa {
   background-color: #2260AA;
}

.zwas-btn-o img,
.zwas-btn-pa img,
.zwas-btn-rs img,
.zwas-btn-p  img {
  width: 60%;
}

.zwas-btn-o:hover,
.zwas-btn-pa:hover,
.zwas-btn-rs:hover,
.zwas-btn-p:hover {
  cursor: pointer;
} 

.zwas-row h3{
  font-size: calc(1em + .5vw);
  color: #fff;
  font-family: Montserrat;
  font-weight: 700;
}

.zwas-btn-p h3 {
  color: #000;
}

/*Same styles for info card*/

.zwas-info-card-pa {
   background-color: #2260AA;
   display: none;
   position: relative;
   border-radius: 30px;
   width: 100%;
}

.zwas-info-card-o {
   background-color: #066D43;
   display: none;
   position: relative;
   border-radius: 30px;
   width: 100%;
}

.zwas-info-card-p {
   background-color: #FCCC1C;
   display: none;
   position: relative;
   border-radius: 30px;
   width: 100%;
}

.zwas-info-card-rs {
   background-color: #848685;
   display: none;
   position: relative;
   border-radius: 30px;
   width: 100%;
}

.zwas-info-card-pa img,
.zwas-info-card-p img,
.zwas-info-card-o img,
.zwas-info-card-rs img {
  width: 30%;
}

.zwas-list-n, .zwas-list-y {
  color: #fff;
  font-family: Montserrat;
  text-align: left;
  font-size: calc(.4rem + .5vw);
}

ul.zwas-list-n {
	list-style-image: url(https://s3.us-east-2.amazonaws.com/zero-waste.lackofanatomy.com/media/no-mini.png);
}

ul.zwas-list-y {
	list-style-image: url(https://s3.us-east-2.amazonaws.com/zero-waste.lackofanatomy.com/media/yes-mini.png);
}

.zwas-info-card-p ul.zwas-list-y,
.zwas-info-card-p ul.zwas-list-n,
.zwas-info-card-p h3 {
	color: #000;
}

.zwas-rs-text {
	color: #fff;
}

/*Actua*/

.zwap-icon {
  height: 120px;
}

.zwap-text {
  color: #2BB573;
  font-size: calc(1em + .5vw);
  font-family: Montserrat;
}

/*Erres*/

.zwap-icon {
  height: 120px;
}

.zwap-text {
  color: #2BB573;
  font-size: calc(1em + 1vw);
  font-family: Montserrat;
}

.zwa5-title {
  color: #2BB573;
  font-weight: 700;
  font-size: calc(1em + 1vw);
  font-family: Montserrat;
}

.zwa5-text {
  color: #808080;
  font-size: calc(1em + .3vw);
}

.zwa5-img {
	height: calc(100px + 20vw);
}

/*---------------------------------------------------------Acerca De-------------------------------------*/

.acerca-de-af {
	background: #2bb573;
}

.zw-acercade-title {
	color: #fff;
	font-family: Montserrat;
	font-weight: 700;
	font-size: calc(1em + 2.5vw);
}

.zw-acercade-text {
	color: #fff;
	font-family: Montserrat;
	font-size: calc(1em + .3vw);
}


/*Objetivos Generales*/

.objetivos-generales {
	background: #fff;
	font-family: Montserrat;
	font-weight: 700;
}

ul.objetivos-generales-list {
	color: #124d30;
	font-family: Montserrat;
}
































/*Bootstrap Breakpoints*/

/*
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
*/

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 

	/*Header - Nav - Video - Down Arrow*/

	.navbar {
		padding: 1em 1em !important;
	}

	.navbar {
		padding: 0px;
	}

	.nav-left-border {
	    border-left: none;
    }

    .nav-link:hover {
		color: #20C896;
		border-radius: 0px;
		border: none;
		transform: none; 
    }

    .nav-link {
    	text-align: center;
    }

 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 

	.nav-link {
		font-size: calc(.7em + .1vw);
		padding: 0px;
	}

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }

/*Specific for above the fold video section*/

}

@media only screen and (max-width:86.875em) { 

	.zwo-img-2 {
  height: 130px;
}

.zwoc-text {
  font-size: calc(.8em + .1vw);
  margin: 10px 10px !important;
}

#flippanel,
#flippanel2,
#flippanel3 {
	padding: 90px 10px;
	margin-top: calc(-320px - 11vw);
}

}

@media (max-width:75.625em) { 
	.af-section {
	width: 820px;
	height: 582.2486887715px;
}

.af-video-container {
	width: 371.2804733728px;
	height: 209.2213561257px;
	top: 32.33%;
	left: 27.42%;
}

.zw-down-arrow {
	position: absolute;
    top: 82%;
    left: 43.8%;
}

.zwda-title {
  font-size: .9em;
}

@media (max-width:53.4375em) { 

.af-section {
	display: none;
}

.af-video-container {
	display: none;
}

.af-video-container-2 {
	display: block;
}

.zw-title-container {
	margin-bottom: 0;
	padding: 10px;
}

.af-title {
  font-size: 3.2rem;
}

.af-title:before {
  font-size: .7rem;
  margin-bottom: -20px;
}

.af-text {
  font-size: 1em;
}

.zw-image {
  height: 140px;
}

#flippanel,
#flippanel2,
#flippanel3 {
	padding: 60px 10px;
}

#flippanel,
#flippanel2,
#flippanel3 {
    margin-top: calc(-320px - 4vw);
}

}
