/*Header - Navbar*/

.navbar {
	background: #fff;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.16);
}

.nav-link {
	font-family: Montserrat;
	font-size: calc(1em + .2vw);
	color: #2BB573;
	transition: all .5s;
}

.nav-left-border {
	border-left: solid 1px #2BB573;
}

.nav-left-border:hover {
	border-left: none;	
}

.nav-link:hover {
	color: #20C896;
	border-radius: 5px;
	border: solid 1px #2BB573;
	transform: translate(0px, -4px); 
}

.zw-logo {
	width: calc(1px + .1vw;)
}